{% extends '::layout/layout.html.twig' %}

{% block body -%}
    <h1>Projet</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titreprojet</th>
                <td>{{ entity.titreProjet }}</td>
            </tr>
            <tr>
                <th>Descriptionprojet</th>
                <td>{{ entity.descriptionProjet }}</td>
            </tr>
            <tr>
                <th>Etatprojet</th>
                <td>{{ entity.etatProjet }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projet') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('projet_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
