<div class="col-xs-6">    
        <label class="autre"> Titre  </label>

        <a data-placement="top" data-toggle="tooltip" data-original-title="Entrer votre nom">
            {{ form_widget(form.nomEmploi) }}
        </a>
        <br>
    </div>
    <div class="col-xs-6">    
        <label class="autre"> Societe  </label>
        <a data-placement="top" data-toggle="tooltip" data-original-title="Entrer votre nom">
            {{ form_widget(form.societeEmploi) }}
        </a>
        <br>
    </div>
    <div class="col-xs-6">    
        <label class="autre"> Duree  </label>
        <a data-placement="top" data-toggle="tooltip" data-original-title="Ex : 2014-2015">
            {{ form_widget(form.dureeEmploi) }}
        </a>
        <br>
    </div>
    <div class="col-xs-6">    
        <label class="autre"> desc Emploi  </label>
        <a data-placement="top" data-toggle="tooltip" data-original-title="Entrer votre nom">
            {{ form_widget(form.descriptionEmploi) }}
        </a>
        <br>
    </div>
        <script type="text/javascript" src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js') }}"></script>