
{% extends('::layout/layout_admin.html.twig') %}
{% block body %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                {% include '::layout/navigation_profil_admin.html.twig' %}
                <div class="span9">
                    
                    <div class="content">
                        <div class="btn-controls">
                            <h1>LISTE DES BUDGET
                                <a href="{{ path('admin_budget_new') }}">
                                    Ajouter nouveau budget
                                </a>
                            </h1>
                            <div class="module-body table">
                                <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped  display" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Information Budget</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                            <tr class="grade">
                                                <td>
                                                    <div class="span2" >
                                                        <div class="media user">
                                                            <a class="media-avatar pull-left" href="{{ path('admin_categorie_show', { 'id': entity.id }) }}">
                                                               
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="span6">
                                                        
                                                            <div class="row">
                                                                <div class="span5">
                                                                    <p>
                                                                    <b>Titre Categorie:</b></br>
                                                                     {{ entity.nomBudget }}</br>
                                                                    
                                                                </div>
                                                                
                                                                <div class="span1">
                                                                    <p>
                                                                    <a href="{{ path('admin_budget_show', { 'id': entity.id }) }}"><i class="icon-eye-open"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <a href="{{ path('admin_budget_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i></a>
                                                                    </p>
                                                                </div>
                                                                    
                                                            </div>
                                                        
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
