{% block body %}
    <div class="col-md-3 hidden-sm hidden-xs">
        <div class="list-group">
            
           
                <a href="{{path('utilisateur_profil') }}" class="list-group-item "><i class="glyphicon glyphicon-user"></i>&nbsp;Curriculum vitæ</a>
            
               
            
                <a href="{{path('info') }}" class="list-group-item "><i class="glyphicon glyphicon-user"></i>&nbsp;Contact</a>
            
                
            
                <a href="{{path('parametre') }}" class="list-group-item "><i class="glyphicon glyphicon-lock"></i>&nbsp;Evenements</a>
            
                <a href="{{path('finance') }}" class="list-group-item "><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Chaine vworkit</a>
           
                
            
                
            
                <a href="{{path('utilisateur_notification') }}" class="list-group-item"><i class="glyphicon glyphicon-phone"></i>&nbsp;Acitivités recentes</a>
                <a href="{{path('utilisateur_notification') }}" class="list-group-item"><i class="glyphicon glyphicon-phone"></i>&nbsp;Test de competences</a>
           
            
                <!--<a href="" class="list-group-item"><i class="glyphicon glyphicon-envelope"></i>&nbsp;Evenemenets</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-comment"></i>&nbsp;alerte</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-lock"></i>&nbsp;abonnement</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-phone"></i>&nbsp;facture</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-pencil"></i>&nbsp;carte</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;litige</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-list"></i>&nbsp;stat</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-envelope"></i>&nbsp;widget</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;verification</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-envelope"></i>&nbsp;Supprimer</a>-->
        </div>
    </div>
{%endblock %}
