
{% extends('::layout/layout.html.twig') %}
{% block body %}
    <div class="projet">
        {% include '::layout/header_user.html.twig' %}
        <div class="container" style="margin-bottom:20px;">
            <div class="row">
                {% include '::layout/navigation_profil.html.twig' %}
                <div class="col-md-6">
                    <div class="modal-content">
                        <div class="modal-body" style="padding-top:10px;padding-bottom:10px;">
                                <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#myModal">
                                  Supprimer le portfolio
                                </button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Supprimer le projet</h4>
                                      </div>
                                      <div class="modal-body">
                                        Vous etes sur le point du suppression du portfolio, voulez vous vraiment ?
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-sm pull-right" style="margin-left:10px;"data-dismiss="modal">Annuler</button>
                                        {{ form(delete_form) }}
                                        
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- confirmation --> 
                                {{ form_start(edit_form) }}
                            <div class="row" style="margin-top: 50px;">
                                {% set flashbag_notices = app.session.flashbag.get('notice') %}
                                    {% if flashbag_notices is not empty %}
                                        
                                            {% for notice in flashbag_notices %}
                                            <div class="col-xs-12">  
                                                <div class="alert alert-success">
                                                    <b style="color:white;">{{notice}}</b>
                                                </div>
                                            </div>
                                            {% endfor %}
                                       
                                    {% endif %}
                                <div class="col-xs-6">    
                                    <label class="autre"> Titre  </label>
                                    
                                        <a data-placement="top" data-toggle="tooltip" data-original-title="Entrer votre nom">
                                            {{ form_widget(edit_form.titrePortfolio) }}
                                        </a>
                                    <br>
                                </div>
                                <div class="col-xs-6">    
                                    <label class="autre"> Image  </label>
                                    <a data-placement="top" data-toggle="tooltip" data-original-title="Entrer votre nom">
                                        {{ form_widget(edit_form.image) }}
                                    </a>
                                    <br>
                                </div>
                                <div class="col-xs-12">    
                                    <label class="autre"> Description  </label>
                                    
                                        {{ form_widget(edit_form.descriptionPortfolio) }}
                                    
                                    <br>
                                </div>
                                
                                <div class="col-xs-12" style="margin-bottom: 20px;">
                                    {{ form_widget(edit_form.submit) }}
                                </div>
                            </div>

                            {{ form_end(edit_form) }}
                                
                        </div>

                    </div>
                </div>
                {% include '::layout/laune.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
