{% extends('::layout/layout.html.twig') %}
{% block body %}
      
    
    
    <div class="categorie">
        <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="margin-bottom:50px;">
                <h3>Quel profil de freelance recherchez-vous ?</h3>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/12.jpg') }}">
                     <div class="caption text-center">
                        <h3>Développement Web</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/design.jpg') }}">
                     <div class="caption text-center">
                        <h3>Design</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/12.jpg') }}">
                     <div class="caption text-center">
                        <h3>Rédaction</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/seo.png') }}">
                     <div class="caption text-center">
                        <h3>Seo</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/mobile.png') }}">
                     <div class="caption text-center">
                        <h3>Mobile</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/com.jpg') }}">
                     <div class="caption text-center">
                        <h3>Communication</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/ecom.jpg') }}">
                     <div class="caption text-center">
                        <h3>E-commerce</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/reseau.jpg') }}">
                     <div class="caption text-center">
                        <h3>Réseau</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/gestion.jpg') }}">
                     <div class="caption text-center">
                        <h3>Gestion du projet</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
                     <img class="img-rounded" src="{{ asset('img/3d.jpeg') }}">
                     <div class="caption text-center">
                        <h3>3D</h3>
                        <p>
                            <b>2000 Projets</b>
                        </p>
                        <p>
                            <b>2000 Prestataires</b>
                        </p>
                        <p><a href="{{ path('categorie') }}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;&nbsp;Voir tous les prestataires</a></p>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
    
{% endblock %}