<div class="col-xs-12">
    <i class="glyphicon glyphicon-plus-sign" style="color: black"></i>&nbsp;<label class="autre">Titre de la tache :</label>
    {{ form_widget(form.nomTache) }} 

    <br>
</div>
   <div class="col-xs-12">
    <i class="glyphicon glyphicon-plus-sign" style="color: black"></i>&nbsp;<label class="autre">Description detaillée de la tache :</label>
    {{ form_widget(form.descriptionTache) }} 

    <br>
</div>

<div class="col-xs-12">
    <i class="glyphicon glyphicon-plus-sign" style="color: black"></i>&nbsp;<label class="autre">Date de fin approximative</label>
    {{ form_widget(form.finAjoutTache) }} 

    <br>
</div>
    <div class="col-xs-12">
    <i class="glyphicon glyphicon-plus-sign" style="color: black"></i>&nbsp;<label class="autre">Progression de tache</label>
    {{ form_widget(form.progression) }} 

    <br>

</div>
<div class="col-xs-12">
    <i class="glyphicon glyphicon-plus-sign" style="color: black"></i>&nbsp;<label class="autre">Label de tache</label>
    {{ form_widget(form.label) }} 

    <br>

</div>
        <div class="col-xs-12">
    <i class="glyphicon glyphicon-plus-sign" style="color: black"></i>&nbsp;<label class="autre">Associé à quel projet ?</label>
    {{ form_widget(form.reunion) }} 

    <br>
</div>
<script type="text/javascript" src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mainTache.js') }}"></script>